@import "normalize";

// Utility classes --------------------------
.hide {
	visibility: hidden;
}

.show {
	visibility: visible;
}


// Thumbnails ------------------------------
html {
	font-size: 10px;
}

body {
	margin: 0;
	padding: 0;
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.6;
	font-family: 'Playfair Display', serif;
	background: radial-gradient(ellipse at center, rgba(226, 222, 197, 0) 0%, #E2D6C5 100%); 
}

.wrapper {
	margin: 0 auto;
	width: 100%;
}

img {
	max-width: 100%;
}

// Thumbnails ---------------------------------
.gallery {
	height: 100vh;
	position: relative;
}

.thmb {
	width: 20%;
	position: absolute;

	img {
		border-radius: 50%;
		border: 3px solid white;
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
	}
}

.thmb-heart,
.thmb-rosetta {
	left: 5%;
}

.thmb-tulip,
.thmb-swan {
	right: 5%;
}

.thmb-heart,
.thmb-swan {
	top: 5%;
}

.thmb-rosetta,
.thmb-tulip {
	bottom: 5%;
}

// Main content area
.feature {
	@media (max-width:1080px) {
		position: absolute;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		left: 50%;
		max-width: 63%;
	}
}

p.small {
		font-size: 1.4rem;
		line-height: 1;
		font-style: italic;
		text-align: center;
		bottom-padding: 20px;
		// position: relative;
	    width: 100%;
	    display: block;	
	}

// Site header ---------------------------------
header {
	text-align: center;
	position: absolute;
	top: -40px;
	width: 100%;
	z-index: -10;

	
	h1 {
		font-size: 11vw;
		margin: 0;
		margin-top: 100px;
	}
	
	.subtitle {
		font-style: italic;
		font-size: 3vw;
		font-weight: 700;
		margin-top: 0;
		padding: 0;
	}

	p {
		font-size: 2vw;
		line-height: 1.8;
		font-style: italic;
		
	}
}

// Feautured images  ---------------------------------
.artboard {
	max-width: 600px;
	margin:0 auto;
	text-align: center;
	position: relative;
}

.featured-img img {
	border-radius: 50%;
	border: 9px solid white;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 100%

}

// Featured text  ---------------------------------
.featured-text {
	text-align: center;
	
	p {
		margin-top: 1rem;
	}

	h2 {
		margin-bottom: 0;
	}

	h3 {
		font-style: italic;
		font-weight: 400;
		margin: 0.7rem 0;
	}
}

// SVG Animations ------------------------------------------------
.tracing {
	position: absolute;
	width: 100%;
}

.path-swan {
	-webkit-animation: dash 6s linear forwards infinite;
	animation: dash 6s linear forwards infinite;
	stroke-dashoffset: 4780;
  stroke-dasharray: 4780;
}

.path-rosetta {
  -webkit-animation: dash 7s linear infinite;	
  animation: dash 7s linear infinite;
  animation-direction: normal;
 	stroke-dashoffset: -5280;
  stroke-dasharray: 5280;
}

.path-heart {
	-webkit-animation: dash 4s linear forwards infinite;
	animation: dash 4s linear forwards infinite, 
	;
	stroke-dashoffset: 2810;
  stroke-dasharray: 2810;
}

#path.path-tulip {
	-webkit-animation: tulip-dash 12s linear forwards infinite;
	animation: tulip-dash 12s linear forwards infinite;
	stroke-dashoffset: 2580;
  stroke-dasharray: 2580;
}
#path2.path-tulip {
	-webkit-animation: tulip-dashx 12s linear forwards infinite;
	animation: tulip-dashx 12s linear forwards infinite;
	stroke-dashoffset: -1080;
  stroke-dasharray: 1080; 
}
 
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
	}
} 

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes tulip-dash {
  0% {
	stroke-dashoffset: 2580;
  }
  50% {
	stroke-dashoffset: 0;
  }
  100% {
	stroke-dashoffset: 0;
  }
} 

@keyframes tulip-dash {
  0% {
	stroke-dashoffset: 2580;
  }
  50% {
	stroke-dashoffset: 0;
  }
  100% {
	stroke-dashoffset: 0;
  }
} 

@-webkit-keyframes tulip-dashx {
  0% {
	stroke-dashoffset: 1080;
  }
  50% {
	stroke-dashoffset: 1080;
  }
  100% {
	stroke-dashoffset: 0;
  }
} 

@keyframes tulip-dashx {
  0% {
	stroke-dashoffset: 1080;
  }
  50% {
	stroke-dashoffset: 1080;
  }
  100% {
	stroke-dashoffset: 0;
  }
} 

.paused{
    -webkit-animation-play-state:paused;
    animation-play-state:paused;
}

@import "mediaQueries";